abbrev_defs
ac-*
auto-save-list/*
backups/*
elpa/*
semanticdb/*
geben/*
projectile*
tmp/*
tramp
jabber-avatar-cache/*
jabber-history/*
url/*
.#.*
.emacs.desktop*
recentf
*.elc
.sx/*
local.el
flycheck_init.el
ede-projects.el
rake.cache