*.elc
.#.*
.#*
.emacs.desktop*
.org-id-locations
.sx/*
\#bbdb\#
abbrev_defs
ac-*
auto-save-list/*
backups/*
bbdb
common.el
custom.el
diary
ede-projects.el
elpa/*
flycheck_init.el
geben/*
jabber-avatar-cache/*
jabber-history/*
jabber-otr/*
javadoc-cache/*
local.el
network-security.data
projectile*
rake.cache
recentf
semanticdb/*
srecode-map.el
tmp/*
tramp
url/*
/bookmarks
/snippets/message-mode/sickcall
/snippets/message-mode/sickack
/GPATH
/GRTAGS
/GTAGS
/var
/eshell/*
/nov-save-place
