*.elc
.#.*
.emacs.desktop*
.org-id-locations
.sx/*
abbrev_defs
ac-*
auto-save-list/*
backups/*
ede-projects.el
elpa/*
flycheck_init.el
geben/*
jabber-avatar-cache/*
jabber-history/*
jabber-otr/*
javadoc-cache/*
local.el
projectile*
rake.cache
recentf
semanticdb/*
tmp/*
tramp
url/*
/bookmarks
/snippets/message-mode/sickcall
/snippets/message-mode/sickack
/GPATH
/GRTAGS
/GTAGS
